<div class="row d-flex justify-content-center p-3">
  <div class="col-md-6">
    <app-alert [message]="error" *ngIf="error" (close)="handleError()"></app-alert>
    <!-- <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div> -->
    <div class="row m-3 d-flex justify-content-center" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
      <form #formAuth="ngForm" (ngSubmit)="onSubmit(formAuth)">
          <div class="row">
              <div class="form-floating mt-2">
                  <input type="email" class="form-control" id="email" placeholder="email" name="email" required email ngModel>
                  <label for="email">email</label>
              </div>
          </div>
          <div class="row">
              <div class="form-floating mt-2">
                <input type="password" class="form-control" id="password" placeholder="password" name="password" required ngModel minlength="6">
                <label for="name">password</label>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12 row-margin-5">
                  <button class="btn btn-primary margin-5" type="submit" [disabled]="!formAuth.valid"> {{ loginAuthMode ? 'Login' : 'Sign up' }}</button>
                  <button class="btn btn-secondary margin-5" type="button" (click)="changeAuthMode()">Go To {{ loginAuthMode ? 'Sign up' : 'Login' }} </button>
              </div>
          </div>
      </form>
  </div>
</div>
